<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BricksBreaking</title>
    <link rel="stylesheet" href="/css/brickssheet.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>

<input type="hidden" name="fieldWidth" id="width" value="">
<input type="hidden" name="fieldWidth" id="height" value="">
<input type="hidden" name="fieldWidth" id="name" value="">
<input type="hidden" name="isUserLogged" id="is" value="">

<div class="header">
    <div class="main-text">
        <div class="account" id="ac">
        </div>
        <div class="but" id="but">
        </div>
    </div>
</div>

<div class="bricksText">
    <h1>BricksBreaking</h1>
</div>

<div class="game-panel">
    <div class="field" id="field">
    </div>
    <div class="newButton">
        <table>
            <form action="/bricks/init">
                <button style="vertical-align: middle"><span>Back</span></button>
            </form>
            <button class="newGameButton" style="vertical-align: middle" onclick="newGame()" id="new"><span>New game</span></button>
        </table>
    </div>
</div>
<div class="content">
    <div class="main">
        <div class="info">
            <h2>Your score: <span id="score"></span></h2><br><br>
            <div class="wands" id="wands"></div>
        </div>
        <div class="rules">
            <h3>● Destroy all the bricks by clicking them in groups of the same color.<br>
                ● The more you get at once, the higher the score.<br>
                ● The only way to remove a single brick is to zap it with a lightning.</h3>
        </div>
    </div>
    <div class="scores">
        <table id="scoreTable" class="display">
            <thead>
            <tr>
                <th>Player</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" id="col">
                <form id="comForm">
                    <h3 class="newCom">New Comment</h3>
                    <div class="col">
                        <div class="form-group">
                            <textarea class="form-control" id="message" placeholder="Your message" required=""></textarea>
                        </div>
                    </div>
                    <button id="addCom" type="button" class="submitBtn" onclick="addComment()">Submit</button>
                    <button type="button" onclick="writeComments()" id="wButton">Show comments</button>
                </form>

                <div class="media" id="media">

                </div>

            </div>
        </div>
    </div>
</section>

<div class="rating">
    <div class="rating-area" id="ra">
        <input type="radio" id="star-5" name="rating" onclick="setRating(5)" value="5">
        <label for="star-5" title="Rate: 5"></label>
        <input type="radio" id="star-4" name="rating" onclick="setRating(4)" value="4">
        <label for="star-4" title="Rate: 4"></label>
        <input type="radio" id="star-3" name="rating" onclick="setRating(3)" value="3">
        <label for="star-3" title="Rate: 3"></label>
        <input type="radio" id="star-2" name="rating" onclick="setRating(2)" value="2">
        <label for="star-2" title="Rate: 2"></label>
        <input type="radio" id="star-1" name="rating" onclick="setRating(1)" value="1">
        <label for="star-1" title="Rate: 1"></label>
    </div><br>
    <span id="avg" name="avg"></span>
</div>

</body>
</html>
