<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BricksBreaking</title>
    <link rel="stylesheet" href="/css/loginsheet.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">

</head>
<body>

<h1>BricksBreaking</h1>


<div class="content">
    <br>
    <div class="text">
        <h2>Enter your login and password<br>or <a href="/bricks/register">sign up</a></h2>
    </div>
    <div class="form">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input class="name" type="text" id="n" placeholder="Username"><br><br><br>
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <input class="height" type="password" id="p" placeholder="Password"><br><br><br><br>
        <div class="btn">
        <button class="button" onclick="login()"><span>Login</span></button>
        </div>
    </div>
</div>

</body>
</html>