<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BricksBreaking</title>
    <link rel="stylesheet" href="/css/initsheet.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">

</head>
<body>

<h1>BricksBreaking</h1>


<div class="content">
    <br>
    <h2>Enter size of field(from 1 to 20)</h2><br>
    <label for="n">Email</label><br>
    <input class="name" id="n" type="text"><br><br>
    <label for="w">Username</label><br>
    <input class="width" type="text" id="w"><br><br>
    <label for="h">Password</label><br>
    <input class="height" type="text" id="h"><br><br><br>
    <button class="button" onclick="addUser()" style="vertical-align: middle"><span>SUBMIT</span></button>
</div>

</body>
</html>